header {
    background #BBBBBB;
    padding:20px;
}

nav li {
     display: inline;
     margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

  .caixa {
    width: 940px;
    position:relative;
      margin: 0 auto;
      
  }

nav {
poition: absolute;
top: 110px;
right: 0; 
} 

.produtos li{
    display: inline-block;
    text-align:center;
    width: 30%;
    vertical-align: top;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos h2{
    font-size:30px;
    font-weight: bold;
}

.produto-preço {
    font-size:22px;
    font-weight: bold;
}

.produto-descricao
font-size:18px;
}

