body {
    background: #CCCCCC
}


.principal{
     background: #b8b6b6;
    padding: 30px;
} 

p {
  text-align: center;
}

h1 { 
    text-align: center;
}


em strong {
    color: #FF0000;
}

#missao {
    font-size: 30px;
}

#IMG{ 
    width: 100%;
}


.IMG_9597.jpeg {
      background: #FFFFFF;
      padding: 30px;
}

h2 {
     text-align: center;
    
}

ul {
   display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios { 
   width: 100%%;
} 
